
<head>
  <style>
    body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
    p, p a { font-size: 12px;text-align: center; color: #888; }
  </style>
</head>


<body>
  <center>
    <h1>{{ name }}</h1>
    <p><a href="/">Home</a></p>
  </center>
</body>
