<head>

<style>

  body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
  p, p a { font-size: 12px; color: #888; }

  #db_title {
    margin-left: 10px;
  }

  #data_table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      overflow-y: scroll;
      width: 90%;
      max-height: 10%;

  }

  #data_table td, #data_table th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  #data_table tr:nth-child(even){background-color: #f2f2f2;}

  #data_table tr:hover {background-color: #ddd;}

  /* Style the tab */
  .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
      background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
      background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }


</style>

</head>

<body>

  <center>
    <title>Inria & SINLIMITES Project</title>
    <h1>{{ name }}</h1>
      <p><a href="/">Home</a> | <a href="/setup_database">Setup</a> | <a href="/edit_database">Config</a></p>
  </center>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Simulations')">Simulations</button>
    <button class="tablinks" onclick="openTab(event, 'Nodes')">Nodes</button>
    <button class="tablinks" onclick="openTab(event, 'Measures')">Measures</button>
    <button class="tablinks" onclick="openTab(event, 'Parameters')">Parameters</button>
  </div>

  <div id="Simulations" class="tabcontent">
    <h2 id="db_title">Simulations</h2>
    <center>
      <table id="data_table">

        <tr>
          <th>Simulation ID</th>
          <th>Timestamp</th>
          <th>Name</th>
          <th>User</th>
        </tr>

        {% for i in simulations %}

        <tr>

          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>

        </tr>

        {% endfor %}

      </table>
    </center>
  </div>

  <div id="Nodes" class="tabcontent">
    <h2 id="db_title">IoT Node</h2>
    <center>
      <table id="data_table">

        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>Name</th>
        </tr>

        {% for i in nodes %}

        <tr>

          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>

        </tr>

        {% endfor %}

      </table>
    </center>
  </div>

  <div id="Measures" class="tabcontent">
    <h2 id="db_title">Measures</h2>

    <center>
      <table id="data_table">

        <tr>
          <th>Measure ID</th>
          <th>Node ID</th>
          <th>Simulation ID</th>
          <th>Parameter ID</th>
          <th>Timestamp</th>
          <th>Value</th>
        </tr>

        {% for i in measures %}

        <tr>

          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
          <td>{{ i[5] }}</td>

        </tr>

        {% endfor %}

      </table>
    </center>
  </div>

  <div id="Parameters" class="tabcontent">
    <h2 id="db_title">Parameters</h2>

    <center>
      <table id="data_table">

        <tr>
          <th>Parameter ID</th>
          <th>Name</th>
          <th>Unit</th>
        </tr>

        {% for i in parameters %}

        <tr>

          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>

        </tr>

        {% endfor %}

      </table>
    </center>
  </div>

  <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
  </script>

</body>
