<head>

<style>

  body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
  p, p a { font-size: 12px; color: #888; }

  .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
  }

  .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }

  .tab button:hover {
      background-color: #ddd;
  }

  .tab button.active {
      background-color: #ccc;
  }

  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }

</style>

</head>

<body>

  <center>
    <title>Inria & SINLIMITES Project</title>
    <h1>{{ name }}</h1>
      <p><a href="/">Home</a></p>
  </center>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'NewParameter')">Add New Parameter</button>
  </div>

  <div id="NewParameter" class="tabcontent">
    <h2 id="db_title">Add new parameter to measures table</h2>

    <form method="post">
      <p><input placeholder="Parameter Name" type="text" name = "prmt_name"/></p>
  	  <p><input placeholder="Parameter Unit" type="text" name = "unit"/></p>
      <input type="submit" name="submit" />
    </form>

  </div>

  <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
  </script>

</body>
