<head>

  <style>

    body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
    p, p a { font-size: 12px; color: #888; }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

</head>

<body>
  <center>
    <title>Inria & SINLIMITES Project</title>
    <h1>{{ name }}</h1>
    <p><a href="/">Home</a></p>
  </center>

  <center>
    <table>
      <tr>
          <th>Simulation ID</th>
          <th>Timestamp</th>
          <th>Name</th>
          <th>User</th>
      </tr>

      {% for i in simulations %}
        <tr>
          <td><a href = {{ url_for('results',sid=i[0]) }}>{{ i[0] }}</a></td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
        </tr>
      {% endfor %}

    </table>

  </center>
</body>
