<head>
  <meta charset="utf-8" />
  <title>Inria & SINLIMITES Project</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src='/static/Chart.min.js'></script>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
    p, p a { font-size: 12px;text-align: center; color: #888; }

  </style>

  <script type="text/javascript">
    window.onload = function () {

      var chart = new CanvasJS.Chart("chartContainer",
      {
        zoomEnabled: true,
        title:{
          text: "Current 1 v/s Time"
        },
        axisY:{
          includeZero: false
        },
        data: data,
     });

      chart.render();
    }

  var y = 0;
  var data = [];
  var dataSeries = { type: "line" };
  var dataPoints = [];

  {% for i in range(0, limit) %}
       dataPoints.push({
         x: new Date({{ labels[i] }}),
         y: {{ values[i] }}
       });
  {% endfor %}

  dataSeries.dataPoints = dataPoints;
  data.push(dataSeries);

</script>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>

<body>

<center>
  <h1>{{ name }}</h1>
  <p><a href="/">Home</a></p>


  <table style="width:100%">

    <caption>Simulation Summary</caption>

    <tr>
      <th>Average</th>
      <th>Variance</th>
      <th>Min</th>
      <th>Max</th>
    </tr>

    <tr>
      <td>{{ summary['average'] }}</td>
      <td>{{ summary['pvariance'] }}</td>
      <td>{{ summary['min'] }}</td>
      <td>{{ summary['max'] }}</td>
    </tr>

  </table>

  <div id="chartContainer" style="margin-top: 100px; height: 500px; width: 80%"></div>

</center>

</body>
