<head>

<style>
	 .portfeed {padding: 0 0 2px 0}

	 body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
	 p, p a { font-size: 12px; color: #888; }

</style>

</head>

<body>

	<center>
	  <title>Inria & SINLIMITES Project</title>
	  <h1>{{ name }}</h1>
		 <p><a href="/">Home</a></p>
	</center>

	<form method="post">

	  <h3>Enter Simulation Parameters</h3>
	  <p><input placeholder="Simulation Name" type="text" name = "sim_name"/></p>
	  <p><input placeholder="Username"type="text" name = "username"/></p>
	  <p><input placeholder="Sampling Time"type="text" name = "sampling_time"/></p>

	  <p>Sampling Time Measure:</p>
	  <input type="radio" name="sampling_time_measure" id="nanosecs" value="nanosecs"> Nanoseconds </input><br>
	  <input type="radio" name="sampling_time_measure" id="microsecs" value="microsecs"> Microseconds </input><br>
	  <input type="radio" name="sampling_time_measure" id="millisecs" value="millisecs"> Milliseconds </input><br>
	  <input type="radio" name="sampling_time_measure" id="secs" value="secs"> Seconds </input><br>


	  <p><input placeholder="Simulation Duration" type="text" name = "simulation_duration"/></p>

	  <p>Simulation Time Measure:</p>
	  <input type="radio" name="simulation_time_measure" id="seconds" value="seconds"> Seconds </input><br>
	  <input type="radio" name="simulation_time_measure" id="minutes" value="minutes"> Minutes </input><br>
	  <input type="radio" name="simulation_time_measure" id="hours" value="hours"> Hours </input><br>
	  <input type="radio" name="simulation_time_measure" id="days" value="days"> Days </input><br>

		<h4>Parameter<h4>
		<table>
			<tr>
				<td valign=top> Parameters:</td>
				<td valign=top>
					<div id="newparameter">
						<div class="parameterfeed">
							<select name="parameters">
								{% for p in parameters %}
							  	<option name="parameters" value="{{ p[0] }}">{{ p[1] }} ({{ p[2] }})</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<p id="addnew">
			<a href="javascript:add_parameterfeed()">Add New </a>
		</p>
		<div id="newparametertpl" style="display:none">
			<div class="portfeed">
				<select name="parameters">
 				 {% for p in parameters %}
 					 <option value="{{ p[0] }}">{{ p[1] }} ({{ p[2] }})</option>
 				 {% endfor %}
 			 </select>
			</div>
		</div>

	  <h4>Node</h4>
	  <table>
	  <tr>
	  	<td valign=top> Nodes:</td>
	    <p>e.g., /dev/ttyACM0</p>
	  	<td valign=top>
	  		<div id="newport">
	  			<div class="portfeed">
	  			   <input type="text" name="ports" placeholder="Port">
						 <input type="text" name="names" placeholder="Node Name">
	  			</div>
	  		</div>
	  	</td>
	  </tr>
	  </table>

	  <p id="addnew">
	  	<a href="javascript:add_portfeed()">Add New </a>
	  </p>
	  <div id="newporttpl" style="display:none">
	  	<div class="portfeed">
	  	 <input type="text" name="ports" value="" placeholder="Port">
			 <input type="text" name="names" value="" placeholder="Node Name">
	  	</div>
	  </div>

	  <p>
	  	<br>
	  	<input type="submit" name="submit" />
	  	<input type="reset" name="reset" />
	  </p>
	</form>


	<script type="text/javascript">
	function validate(frm)
	{
		var ele = frm.elements['portfeedurl[]'];
		if (! ele.length)
		{
			alert(ele.value);
		}
		for(var i=0; i<ele.length; i++)
		{
			alert(ele[i].value);
		}
		return true;
	}
	function add_portfeed()
	{
		var div1 = document.createElement('div');
		div1.innerHTML = document.getElementById('newporttpl').innerHTML;
		document.getElementById('newport').appendChild(div1);
	}
	function add_parameterfeed()
	{
		var div1 = document.createElement('div');
		div1.innerHTML = document.getElementById('newparametertpl').innerHTML;
		document.getElementById('newparameter').appendChild(div1);
	}
	</script>



</body>
