<head>

  <style>

    body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
    p, p a { font-size: 12px; color: #888; }

    .button {
      width: 100px;
      height: 100px;
      background-color: #888;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 25px;
    }

    .button5 {border-radius: 100px;}

  </style>

</head>

<body>

  <center>
    <title>Inria & SINLIMITES Project</title>
    <h1>{{ name }}</h1>
      <p><a href="/">Home</a> | <a href="/database">Database</a></p>
  </center>

  <center>
    <div id="buttons">
      <a href="{{ url_for('create_database') }}">
        <button type="button button5">Create Database</button>
      </a>
      <a href="{{ url_for('restore_database') }}">
        <button type="button button5">Reset Database</button>
      </a>
    </div>

    {% if message %}
      <p>{{ message }}</p>
    {% endif %}

  </center>



</body>
