<head>
  <style>

    body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
    p, p a { font-size: 12px; color: #888; }

  </style>
</head>

<body>
  <center>
    <title>Inria & SINLIMITES Project</title>
    <h1>{{ name }}</h1>
    <p><a href="/">Home</a></p>
  </center>

  {% if simulation_data %}

    <h3>Simulation Parameters</h3>
    <p>Simulation Name: {{ simulation_data['sim_name'] }}</p>
    <p>Username: {{ simulation_data['username'] }}</p>
    <p>Duration of the Simulation: {{ simulation_data['simulation_duration'] }} Seconds</p>
    <p>Sampling Time: {{ simulation_data['sampling_time'] }} Milleseconds</p>
    {% for i in  range(0, simulation_data['ports_number'] - 1) %}
      <p>Port #{{ i + 1 }}: {{ simulation_data['ports'][i] }}</p>
    {% endfor %}

  {% endif %}

  <center>
  <h2>Simulation Countdown</h2>
  <h1 id="countd"></h1>
  </center>

  <script>
  // Source: https://www.w3schools.com/howto/howto_js_countdown.asp
  var countDownDate = new Date();
  countDownDate.setSeconds(countDownDate.getSeconds() + {{ simulation_data['simulation_duration'] }});

  var x = setInterval(function() {

      var now = new Date().getTime();

      var distance = countDownDate - now;

      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countd").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      if (distance < 0) {
          clearInterval(x);
          var text = "See Results"
          var html_link = text.link('/last_sim');
          document.getElementById("countd").innerHTML = html_link;

      }
  }, 1000);
  </script>
</body>
